auth_token=your_auth_token
channel_id_1=id_of_channel_to_parse_messages
channel_id_2=id_of_channel_to_parse_messages
hashtag_1=tag_for_first_channel
hashtag_2=tag_for_second_channel
bot_token=your_telegram_bot_token
chat_id=channel_id_where_to_resend_messages